/*відступи внутрішні, зовнішні*/
*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

/*псевдо елементи вони рядкові, перевести в блокові-рядкові*/
*::before,
*::after {
  display: inline-block;
}

/*посиланяz є рядковим , прибрати лінію, в  перевести блоково-рядковий, наслідування кольру*/
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

/*в список прибрати крапочки або цифри*/
li {
  list-style: none;
}

/*картинка блочно-рядковий, Вирівнює елемент по вертикалі відносно свого батька, навколишнього тексту або комірки таблиці.*/
img {
  vertical-align: top;
}

/*line-height: 1;: Визначає висоту міжрядкового інтервалу, тобто відстань між рядками тексту, що буде рівною одиниці (звичайно це означає стандартний інтервал без збільшення відстані між рядками).

height: 100%;: Ця властивість встановлює висоту для елементів <html> і <body> на 100% від висоти вікна браузера. Це корисно, коли потрібно, щоб сторінка займала всю доступну висоту екрану.*/
html,
body{
  line-height: 1;
  height: 100%;
}

/*font-weight: inherit;: Встановлює вагу шрифту (жирність) заголовків такою ж, як і в батьківського елемента (того, що їх містить). Це означає, що заголовки успадковують жирність шрифту від своїх батьківських елементів.

font-size: inherit;: Встановлює розмір шрифту для заголовків також успадкованим від батьківського елемента. Тобто розмір шрифту заголовка буде таким самим, як у елемента, що містить заголовок.*/

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent; /*transparent: Це значення означає, що елемент стає повністю прозорим (невидимим) на рівні фону, але вміст елемента залишається видимим.*/
}
input,
textarea {
  width: 100%;
}
button,
select,
option {
  cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  appearance: none; /*appearance: none;: Видаляє стандартні стилі елемента, наприклад, рамки, фонові ефекти або інші візуальні особливості, що визначаються за замовчуванням браузером.*/
}
