@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");
@import url("reset.css");

.wrapper {
  min-height: 100%;
  overflow: hidden; /*clip - */
}

.home-work {
  font-family: "Manrope", sans-serif;
  color: #052d6d;
  text-align: center;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}

.nav-link {
  color: rgb(9, 199, 15);
  font-size: 35px;
  background-color: #dfef64;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 3px;
}

.film {
  background-color: #141414;
}

.film-content {
  padding-bottom: 40px;
}

.container1 {
  max-width: 1627px; /*додали padding +15px + 15px*/
  margin: 0 auto;
  padding-inline: 15px;
}

.film-background {
  min-height: 860px;
  max-width: 100%;
  background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, #141414 100%),
    url("img/abstract-design.svg"),
     url("img/sub-container.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.film-title {
  font-family: "Manrope", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 14px;
}

.film-text {
  font-family: "Manrope", sans-serif;
  color: #999;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  max-width: 1096px;
  display: block;
  /* width: fit-content; */
  margin: 0 auto;
  margin-bottom: 50px;
}

.film-link {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-inline: 24px;
  padding-block: 18px;
  border-radius: 8px;
  align-items: center;
  background-color: #e50000;
  display: block;
  margin: 0 auto;
  max-width: 251px;
}

.film-link span {
  background: url("/img/arrow-icon.svg") left / 24px no-repeat;
  padding-left: 24px;
  min-height: 24px;
  display: inline-block;
  margin-right: 4px;
}

.templpate {
  background-color: #fdf0e9;
  padding: 30px;
}

.container2 {
  max-width: 1170px; /*додали padding +15px + 15px*/
  margin: 0 auto;
  padding-inline: 15px;
}
/* .templpate-block{
  display: flex;
} */
.items {
  margin-inline: -5px;
  font-size: 0;
}

.item {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  padding-inline: 5px;
}

.templpate-content {
  font-size: 20px;
}

.features {
  color: #ef6d58;
  font-family: Epilogue;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.templpate-title {
  color: #391400;
  font-family: Epilogue;
  font-size: 56px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: -1px;
  max-width: 397px;
  margin-bottom: 26px;
}

.templpate-text {
  color: #391400;
  font-family: Epilogue;
  font-size: 20px;
  line-height: 1.6;
  max-width: 470px;
  margin-bottom: 26px;
}

.templpate-item {
  color: rgba(57, 20, 0, 0.64);
  font-family: Epilogue;
  line-height: 2;
  margin-bottom: 16px;
  padding-top: 5px;
  padding-left: 16px;
}

.templpate-item span {
  display: inline-block;
  background: url("/img/check.svg") left / 32px no-repeat;
  min-height: 32px;
  padding-left: 48px;
}


/*Практика*/
.border {
  background-color: rgb(151, 235, 235);
  border: 3px dotted rgb(172, 15, 234);
  padding-inline: 20px;
  padding-block: 20px;
}

.border:hover {
  background-color: rgb(196, 231, 108);
}

.border-title {
  margin-bottom: 10px;
  outline: 5px solid yellow;
}

.border-span {
  border: 2px solid red;
}

.border-text {
  margin-bottom: 10px;
  /* visibility: hidden; */
  opacity: 0.5;
  background-image: linear-gradient(
    90deg,
    rgba(2, 36, 0, 1) 0%,
    rgba(43, 121, 9, 0.9663515064228817) 35%,
    rgba(128, 6, 164, 1) 56%,
    rgba(255, 0, 30, 0.9663515064228817) 100%
  );
}

.border-link {
  color: rgb(19, 19, 20);
  background-color: rgb(191, 8, 228);
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 3px 0 0 rgb(77, 117, 84);
  position: relative;
  top: 0;
}

.border-link:hover {
  top: 0;
  box-shadow: 0 2px 0 0 rgb(77, 117, 84);
}

.border-circule {
  background-color: chocolate;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.background {
  padding: 30px;
  background-image: url("/img/cat.jpg"); /*зображення залежить від розміру контенту, без контенту зображення буде відсутне*/
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 200px;
  background-attachment: fixed;
  /* background-size: contain; для магазину, продаж одиночного товара */
  /* background-size: cover; */
  /* background: greenyellow url() center / 200px no-repeat scroll; */
}

.background-mult {
  background: url("/img/cat2.jpg") top / 100px no-repeat,
    url("/img/cat3.jpg") 0 0 / 50px no-repeat,
    linear-gradient(
      90deg,
      rgba(17, 228, 63, 1) 0%,
      rgba(0, 111, 255, 0.9663515064228817) 100%
    );
}

.list__item {
  background: url("/img/cat2.jpg") 0 0 / 15px no-repeat;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 5px;
  /* padding-inline-start: 30px; */
  min-height: 15px;
}

.botton-icon {
  padding: 15px;
  background-color: red;
  border-radius: 8px;
}

.botton-icon span {
  background: url("/img/cat.jpg") left / 20px no-repeat;
  padding-left: 30px;
  min-height: 20px;
  display: inline-block;
}
